table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
  }
  
  th,
  td {
    padding: 12px;
    border: 1px solid #ddd;
  }
  
  button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    background-color: #3498db;
    color: white;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  