<div class="sidebar">
  <h2>Dashboard</h2>
  <nav>
    <ul>
      <li><a routerLink="product">Products</a></li>
      <li><a routerLink="orders">Orders</a></li>
      <li><a routerLink="category">Categories</a></li>
      <li><a routerLink="brand">Brands</a></li>
      <li><a routerLink="subcategory">Subcategories</a></li>
      <li><a routerLink="about">About</a></li>
      <li><button class="home-btn" (click)="backhome()" >Home</button></li>
      <br>
      <li><button class="logout-btn" (click)="logout()">Logout</button></li>
      
    </ul>
  </nav>
</div>
