*{
  margin: 0;
  padding: 0;
}

.sidebar {
  padding: 20px;
  background-color: #2c3e50;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav li {
  margin-bottom: 10px;
}

.sidebar nav a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar nav a:hover {
  background-color: #34495e;
}

.sidebar nav a.active {
  background-color: #007bff;
}

.logout-btn {
  margin-top: auto;
  padding: 10px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #cc0000;
}

.home-btn{
  margin-top: auto;
  padding: 10px;
  background-color: rgb(43, 185, 0);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}
.home-btn:hover{
  background-color: rgb(41, 145, 0);
}

.home-btn:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 77, 77, 0.5);
}



.logout-btn:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 77, 77, 0.5);
}

@media (max-width: 768px) {
  .sidebar {
    padding: 15px;
  }

  .sidebar h2 {
    font-size: 1.3rem;
  }

  .sidebar nav a {
    font-size: 1rem;
    padding: 8px;
  }

  .logout-btn {
    padding: 8px;
    font-size: 0.9rem;
  }
}
